<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h1 class="page-header">
                Articles
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a [routerLink]="['/Home']">Home</a>
                </li>
                <li class="active">Articles</li>
            </ol>
        </div>
    </div>

    <div class="row article-container" *ngFor="let article of articles">
        <div class="col-md-10">
            <author [author]="article.author" [dateCreated]="article.dateCreated" [rating]="article.rating"></author>

            <h3>
                <a [routerLink]="['/articles/article/', article.id]">{{article.title}}</a>
            </h3>

            <p>
                {{article.getPreviewText()}}...
            </p>

            <p>
                <a [routerLink]="['/articles/article/', article.id]">Read more...</a>

                <a [routerLink]="['/articles/article/', article.id]" fragment="comments">
                    <span class="glyphicon glyphicon-comment"></span> {{article.totalComments}}
                </a>
            </p>

        </div>
    </div>
</div>
