<div class="container">
    <div class="row" *ngIf="!showSelectedUserArticlesOnly">
        <div class="col-md-10">
            <h1 class="page-header">
                Articles
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a [routerLink]="['/Home']">Home</a>
                </li>
                <li class="active">Articles</li>
            </ol>
        </div>
    </div>

    <div class="row article-container col-md-10" *ngFor="let article of articles">
        <div>
            <button type="button" (click)="deleteArticle(article.id)" class="close" *ngIf="showSelectedUserArticlesOnly && canManageArticles">
                <span class="glyphicon glyphicon-remove"></span>
            </button>

            <a [routerLink]="['/manageArticle/edit/', article.id]" class="close" *ngIf="showSelectedUserArticlesOnly && canManageArticles">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>

            <author [author]="article.author" [dateCreated]="article.dateCreated" [rating]="article.rating"></author>

            <h3 class="text-center">
                <a [routerLink]="['/articles/article/', article.id]">{{article.title}}</a>
            </h3>

            <p [innerHTML]="article.getPreviewText()">
            </p>

            <p>
                <a [routerLink]="['/articles/article/', article.id]">Read more...</a>

                <a [routerLink]="['/articles/article/', article.id]" fragment="comments">
                    <span class="glyphicon glyphicon-comment"></span> {{article.totalComments}}
                </a>
            </p>
        </div>
    </div>
</div>
