<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="@ViewData["Title"] - BlogPlatform">
        <meta name="author" content="Dmitry Shiray">
        <title>@ViewData["Title"] - BlogPlatform</title>
        <base href="/" />
        <script src="https://cdn.ckeditor.com/4.6.1/full/ckeditor.js"></script>
    </head>
    <body>
        @RenderBody()

        @RenderSection("scripts", required: false)
    </body>
</html>
